.no-border {
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

/* table styler */
#tbl {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tbl td, #tbl th {
  border: 1px solid #ddd;
  padding: 5px;
}

#tbl tr:nth-child(even){background-color: #f2f2f2;}

#tbl tr:hover {background-color: #ddd;}

#tbl th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  /*background-color: #4CAF50;*/
  /*background-color: #dff0d8;*/
  background-color: #00cccc;
  color: #3c763d;
  text-align: center;
}

/* navbar */
.navbar-inverse {
    background-color: #3c8dbc;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
    font-weight: bolder;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #367fa9;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #367fa9;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.side-nav{
    background-color: #222d32;
}